body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d2d5dc;
  color: #371c1c;
}
.page-container {
  background-color: #121212;
  color: #f0f0f0;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  padding-bottom: 50px;
}

.faq-container {
  max-width: 850px;
  margin: 60px auto;
  padding: 30px 25px;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 188, 212, 0.1);
}

.faq-title {
  font-size: 3rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 40px;
  color: #00bcd4;
}

.faq-item {
  border-top: 1px solid #333;
  padding: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.faq-item:last-child {
  border-bottom: 1px solid #333;
}

.faq-item:hover {
  background-color: #292929;
}

.faq-question {
  font-size: 1.6rem;
  font-weight: 400; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f5f5f5;
}

.faq-answer {
  margin-top: 12px;
  padding-left: 15px;
  font-size: 1.2rem;
  color: #cccccc;
  line-height: 1.6;
}

.arrow {
  font-size: 1.5rem;
  color: #00bcd4;
  transition: transform 0.2s ease;
}

.faq-item.open .arrow {
  transform: rotate(180deg);
}